.contact {
  &__contact-place {
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      @include pageGrid;
    }
  }

  &__date {
    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__name,
  &__emaill,
  &__message {
    color: $input-color-text;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding-left: 16px;
  }

  &__message {
    width: 100%;
    height: 148px;
    resize: none;
  }

  &__send {
    display: flex;
    width: 100%;
    outline: none;
    cursor: pointer;

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: $white;

    line-height: 27px;
    background-color: $orange;
    border: 1px solid transparent;
    border-radius: 8px;

    justify-content: center;
    align-items: center;

    height: 56px;
    padding: 0 48px;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin-bottom: 120px;
    }

    text-decoration: none;
    transition-duration: $effect-duration;
    transition-property: background-color;
  }

  &__send:hover {
    background-color: $main-text-color;
  }

  &__send:focus {
    background-color: $second-main-background-color;
  }

  &__name:hover,
  &__emaill:hover,
  &__message:hover {
    border: 1px solid #dbdbdb;
  }

  &__name:focus,
  &__emaill:focus,
  &__message:focus {
    border: 2px solid $orange;
    font-family: inherit;
    outline: none;
  }

  &__name::placeholder,
  &__emaill::placeholder,
  &__message::placeholder {
    color: $input-color-text;
  }

  &__name:focus::placeholder,
  &__emaill:focus::placeholder,
  &__message:focus::placeholder {
    color: $main-text-color;
    font-family: inherit;
  }

  &__name:hover::placeholder,
  &__emaill:hover::placeholder,
  &__message:hover::placeholder {
    color: $main-text-color;
    font-family: inherit;
  }

  &__info {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.15px;

    color: #9393a3;
    margin-bottom: 8px;
    text-decoration: none;
    grid-column: 8 / -1;

  }

  &__deteils {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.15px;

    color: #191919;
    margin-bottom: 24px;
    text-decoration: none;

    @include hover(transform, scale($little-scale));
  }

  &__references {
    font-family: inherit;
    margin-bottom: 48px;
    grid-column: 8 / 10;

    @include onTablet {
      margin-bottom: 120px;
    }
  }
}
