.main {
  background-color: $white;

  &__table {
    width: 100%;
    padding-top: 96px;
    display: block;

    @include on-tablet {
      padding-top: 120px;
    }
  }

  &__content {
    display: grid;
    row-gap: 96px;
    padding-bottom: 64px;

    @include on-tablet {
      padding-bottom: 120px;
      row-gap: 120px;
    }
  }
}
